{% extends 'base.html.twig' %}

{% block body %}
    <h1>Date and Timezone Information</h1>
    {% if details is not empty %}
        <div>
            The time zone {{ details.timezone }} has {{ details.offset }} minutes offset to UTC on the given day at noon.<br />
            February in this year is {{ details.daysInFebruary }} days long.<br />
            The specified month {{ details.monthName }} is {{ details.daysInMonth }} days long.
        </div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}